.wrapper{
  background-color: transparent;
  border-radius: var(--border-radius-m);
  padding: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header{
  font-size: 3.5rem;
  font-weight: bold;
  color: var(--text-color-primary);
  text-align: center;
}

.content{
  background-color: var(--text-color-secondary);
  width: 100%;
  height: 100%;
  margin-top: 30px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  aspect-ratio: 1/0.6;
  box-shadow: var(--shadow-elevation-medium);
  border-radius: var(--border-radius-l);
}

.footer{
  color: white;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
}

.content p{
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.content button{
  text-decoration: underline;
  padding: 5px 10px;
  background-color: var(--background-color);
  color: var(--text-color-secondary);
  &:hover{
    box-shadow: none;
    
  }
}