.container {
  
  padding: 10px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  align-items: center;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
  max-width: 300px;
}

.titleInput {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: var(--border-radius-m);
  font-size: 1em;
  font-weight: bold;
  width: 100%;
  max-width: 400px;
}

.titleInput:focus {
  outline: none;
  border-color: #000;
}

.daysContainer {
  
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .daysContainer {
    gap: 10px;
    padding: 0;
    width: 100%;
    max-width: 100%;
  }
}

.lastRow {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 20px;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

.lastRow > :first-child {
  flex: 0 0 calc(50% - 10px);
}

@media (max-width: 768px) {
  .lastRow {
    gap: 10px;
    flex-wrap: wrap;
  }
  
  .lastRow > :first-child {
    
    flex: 0 0 calc(50% - 5px);
  }
  
  .actions {
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 0 0 calc(50% - 5px);
  }
}

.actions {
  display: flex;
  flex-direction: row;
  gap: 15px;
  flex: 0 0 calc(50% - 10px);
  justify-content: flex-end;
  align-items: flex-start;
}

.actions button {
  min-width: 120px;
}

