.container {
   padding: 10px;
   /* background-color: blue; */
   margin-bottom: 30px;
   display: flex;
   flex-direction: column;
   flex-wrap: nowrap;
   align-items: center;
   justify-content: center;
   /* width: 100%; */
   /* box-sizing: border-box; */
}

.daysContainer {
   width: 100%;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 30px 10px;
   margin-bottom: 20px;
   margin-top: 20px;
   box-sizing: border-box;
}

.titleInput {
   padding: 10px;
   border: none;
   border-radius: var(--border-radius-l);
   font-size: 1em;
   font-weight: bold;
   box-shadow: var(--shadow-elevation-medium);
   color: var(--text-color-secondary);
   /* width: 100%; */
   /* max-width: 400px; */
}

.titleInput::placeholder {
   color: var(--text-color-secondary);
   opacity: 0.5;
}

.actions {
   display: flex;
   flex-direction: row;
   gap: 15px;
   flex: 0 0 calc(50% - 10px);
   justify-content: flex-end;
   align-items: flex-start;
}

.actions .resetButton {
   background-color: white;
   color: var(--accent-color-red);
   &:hover {
      color: white;
      background-color: var(--accent-color-red);
   }
}

.title{
   padding-bottom: 10px;
   color: var(--text-color-secondary);
   border-radius: var(--border-radius-l);
   border-bottom: 2px solid var(--text-color-secondary);
   text-align: center;
   font-size: 2em;
}
