.container {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
  min-width: 300px;
}

.header {
  margin-bottom: 20px;
}

.newMealButton {
  margin-bottom: 20px;
}

.mealsList {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

