.container {
  padding: 10px 20px;
  border-radius: var(--border-radius-l);
  box-shadow: var(--shadow-elevation-medium);
  background-color: #fff;
  width: 100%;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.title {
  font-size: 1.3em;
  font-weight: bold;
  margin: 0;
}

.actions {
  display: flex;
  gap: 10px;
}

.actionButton {
  padding: 0;
  display: flex;
  font-size: 16px;
  font-weight:bold;
  box-shadow: none;
  color: var(--accent-color-red);
  background-color: white;
  &:hover{
    background-color: var(--accent-color-red);
    color: white;
  }
}

.ingredients {
  color: #666;
  font-size: 14px;
  margin-top: 10px;
}

.ingredients span {
  margin-right: 5px;
}

