.results {
   margin-top: 5px;
   width: 100%;
   display: flex;
   gap: 10px;
   flex-direction: column;
}

.input {
   width: 240px;
   padding: 0 1px;
   height: 40px;
   border-radius: var(--border-radius-l);
   border: 1px solid var(--text-color-secondary);
   font-size: 1.3em;
}