.wrapper {
   color: rgb(213, 232, 236);
   background-color: var(--background-color);
   display: flex;
   min-height: 50px;
   height: 100%;
   justify-content: center;
   align-items: center;
   aspect-ratio: 1/1;
   border: 3px solid var(--text-color-secondary);
   border-radius: 333px;
}
