.wrapper {
   background-color: white;
   display: flex;
   justify-content: flex-start;
   gap: 10px;
   align-items: center;
   padding: 5px;
   border-radius: var(--border-radius-xxl);
   height: 60px;
   box-shadow: var(--shadow-elevation-medium);
}

.details {
   display: flex;
   flex-direction: column;
}

.username {
   font-size: 1.3em;
   font-weight: 700;
   display: inline;
   margin: 0;
}

.name {
   display: inline;
   margin: 0;
   font-size: 1.1em;
   opacity: 0.7;
}
