.meal {
   background-color: white;
   display: flex;
   justify-content: space-between;
   padding: 10px;
   border-radius: var(--border-radius-xl);
   box-shadow: var(--shadow-elevation-medium);
}

.extra {
  background-color: white;
   display: flex;
   justify-content: space-between;
   padding: 10px;
   border-radius: var(--border-radius-xl);
   box-shadow: var(--shadow-elevation-medium);
}

.done {
  background-color: rgba(255, 255, 255, 0.363);
  opacity: 0.7;
   display: flex;
   justify-content: space-between;
   padding: 10px;
   border-radius: var(--border-radius-xl);
   box-shadow: var(--shadow-elevation-medium);
}

.pending {
   opacity: 0.5;
   color: #999;
}

.name {
   font-size: 1.5rem;
   font-weight: bold;
   color: var(--text-color-secondary);
}

.details {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 60%;
}

.unit {
   color: var(--text-color-secondary);
}

.quantity {
   font-size: 1.3rem;
   font-weight: bold;
   margin-right: 5px;
   color: var(--text-color-secondary);
}

.button{
  background-color: transparent;
  box-shadow: none;
}
