.container {
  margin-bottom: 0;
  padding: 18px 8px 8px 8px;
  background-color: rgb(255, 255, 255);
  border-radius: var(--border-radius-xxl);
  min-width: 130px;
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  box-shadow: var(--shadow-elevation-medium);
  position: relative;
}

.dayTitle {
  position: absolute;
  font-size: 1.5em;
  font-weight: bold;
  top: -38px;
  color:var(--text-color-secondary);
  /* margin-bottom: 15px; */
  text-transform: uppercase;
  letter-spacing: 2px;
}

.mealsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.mealsContainer * {
  width: 100%;
  min-height: 30px;
  font-size: 16px;
  border-radius: var(--border-radius-m);
}

