.container {
  margin-bottom: 0;
  padding: 8px;
  background-color: white;
  border-radius: var(--border-radius-l);
  min-width: 0;
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}

.dayTitle {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.mealsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.mealsContainer * {
  width: 100%;
  min-height: 30px;
  font-size: 16px;
  border-radius: var(--border-radius-m);
}

