.wrapper {
   width: 80vw;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
}

.header {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   position: relative;
}

.details {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 20px;
   margin-bottom: 150px;
}

.picture {
   height: 80px;
}

.names {
   display: flex;
   flex-direction: column;
}

.username {
   padding: 0;
   margin: 0;
}

.name {
   margin: 0;
   padding: 0;
   opacity: 0.5;
   font-weight: 400;
}

.center {
   left: 0;
   display: flex;
   flex-direction: column;
   gap: 15px;
   position: absolute;
   left: 50%;
   bottom: 0;
   transform: translate(-50%);
}

.numbers {
   display: flex;
   gap: 20px;
}
